.container {
  width: min(100% - 30px, 1880px);
  margin-inline: auto;
}

h1, h2, h3, h4, p, li, a, input, button {
  color: #000;
}

/*-----------------------------------------------------------------*/
/*    utility classes                                              */
/*-----------------------------------------------------------------*/

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.center {
  display: grid;
  place-items: center;
}

.justify-right {
  justify-content: right;
}

.place-center {
  place-items: center;
}

.align-center {
  align-items: center;
}

.w-40 {
  width: 40%;
}

.w-20 {
  width: 20%;
}

.w-18 {
  width: 18%;
}

.mr-35 {
  margin-right: 35px;
}

.gap-20 {
  gap: 20px;
}

.ta-right {
  text-align: right;
}

.ta-left {
  text-align: left;
}

/*---------------------------------------------------------------*/
/*    header                                                     */
/*---------------------------------------------------------------*/

header {
  padding-top: 60px;
  height: 240px;
}

header p {
  font-size: 18px;
  font-weight: 500;
}

h1 {
  font-size: 35px;
}

.divisor {
  margin: 20px 0;
  height: 2px;
  width: 100%;
  background-color: rgb(0 0 0 / 0.1);
}

.store-title {
  width: 50%;
}

.header-icon {
  font-size: 30px;
  margin-right: 20px;
}

.access-icon {
  cursor: pointer;
}

.header-p-title {
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(0 0 0 / 0.3);
}


/*------------------------------------------------------------*/
/*    nav                                                     */
/*------------------------------------------------------------*/

nav ul {
  gap: 45px;
}

nav ul li {
  cursor: pointer;
}

nav ul li, .lang-p {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
}

.lang-icon {
  font-size: 30px;
}


/*------------------------------------------------------------*/
/*    hero banner                                             */
/*------------------------------------------------------------*/

.hero-banner {
  width: 100svw;
  height: calc(100svh);
  background: #000 url(../../public/herobanner-background.jpg) top / cover no-repeat;
}

.hero-box {
  height: 100%;
}

.hero-text {
  width: 50%;
  height: 100%;
}

.hero-text h2 {
  font-size: 32px;
}

.hero-text p {
  text-align: center;
  margin: 20px 0;
  width: 80%;
  font-size: 18px;
}

.hero-text input[type="button"] {
  transition: all 0.25s ease-in-out;
  width: 130px;
  height: 45px;
  font-size: 18px;
  border-radius: 6px;
  background-color: rgb(67, 39, 95);
  color: #fff;
}

.hero-text input[type="button"]:hover {
  background-color: #fff;
  color: rgb(67, 39, 95);
}



/*------------------------------------------------------------*/
/*    footer                                                  */
/*------------------------------------------------------------*/

.footer-links {
  background-color: #fffdd0;
  padding-bottom: 20px;
}

.footer-divisor {
  margin-bottom: 40px;
  height: 4px;
  background-color: #000;
}

.footer-email-input {
  padding: 10px 0;
  margin: 20px 0;
  background-color: #fffdd0;
  border-bottom: 2px solid #000;
  width: 280px;
  font-size: 18px;
}

button {
  display: block;
  width: 160px;
  height: 45px;
  background-color: #000;
  color: #fff;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 600;
}

.footer-join {
  margin-bottom: 20px;
}

footer h3 {
  font-size: 20px;
  font-weight: 700;
}

footer p {
  font-size: 18px;
}

.footer-links ul li {
  font-size: 18px;
  padding: 10px 0;
  cursor: pointer;
}

.footer-socials {
  padding: 20px 0;
  font-size: 25px;
  gap: 10px;
  cursor: pointer;
}

.footer-copyright {
  height: 60px;
  background-color: #000;
}

.footer-copyright ul li {
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}

.main-copyright {
  width: 28%;
  text-transform: uppercase;
  text-align: left;
}