.container {
  width: min(100% - 60px, 1280px);
  margin-inline: auto;
}

h1, h2, h3, h4, p, li, a, input, button {
  color: #000;
}

html {
  scrollbar-gutter: stable;
  overflow-x: hidden; 
}


/*-----------------------------------------------------------------*/
/*    utility classes                                              */
/*-----------------------------------------------------------------*/

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.center {
  display: grid;
  place-items: center;
}

.justify-right {
  justify-content: right;
}

.place-center {
  place-items: center;
}

.align-center {
  align-items: center;
}

.w-40 {
  width: 40%;
}

.w-22 {
  width: 22%;
}

.w-20 {
  width: 20%;
}

.w-18 {
  width: 18%;
}

.mr-35 {
  margin-right: 35px;
}

.gap-20 {
  gap: 20px;
}

.ta-right {
  text-align: right;
}

.ta-left {
  text-align: left;
}

/*---------------------------------------------------------------*/
/*    header                                                     */
/*---------------------------------------------------------------*/

header {
  padding-top: 60px;
}

header h1 {
  font-size: 35px;
}

header p {
  font-size: 18px;
  font-weight: 500;
}

.home-link {
  text-decoration: none;
}

h1 {
  font-size: 35px;
  text-decoration: none;
}

.divisor {
  margin: 20px 0;
  height: 2px;
  width: 100%;
  background-color: rgb(0 0 0 / 0.1);
}

.store-title {
  width: 50%;
}

.header-icon {
  font-size: 35px;
  margin-right: 15px;
}

.access-icon {
  cursor: pointer;
}

.header-p-title {
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(0 0 0 / 0.3);
}

header nav {
  margin-bottom: 20px;
}


/*------------------------------------------------------------*/
/*    nav                                                     */
/*------------------------------------------------------------*/

nav ul {
  gap: 45px;
}

nav ul li {
  cursor: pointer;
}

nav ul li, .lang-p {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
}

.lang-icon {
  font-size: 30px;
}


/*------------------------------------------------------------*/
/*    hero banner                                             */
/*------------------------------------------------------------*/

.hero-banner {
  width: 100svw;
  height: calc(100svh - 50px);
  background: #000 url(../../public/herobanner-background.jpg) top / cover no-repeat;
}

.hero-box {
  height: 100%;
}

.hero-text {
  width: 50%;
  height: 100%;
}

.hero-text h2 {
  font-size: 42px;
  color: #fff;
}

.hero-text p {
  color: #fff;
  text-align: center;
  margin: 20px 0;
  width: 80%;
  font-size: 18px;
}

.hero-text input[type="button"] {
  transition: all 0.25s ease-in-out;
  width: 130px;
  height: 45px;
  font-size: 18px;
  border-radius: 6px;
  background-color: rgb(67, 39, 95);
  color: #fff;
}

.hero-text input[type="button"]:hover {
  background-color: #fff;
  color: rgb(67, 39, 95);
}

/*------------------------------------------------------------*/
/*    form                                                    */
/*------------------------------------------------------------*/

.sign-in {
  padding: 50px 0;
  height: 80svh;
  text-align: center;
}

.sign-in h1 {
  font-size: 50px;
  padding-bottom: 30px;
}

.sign-in input {
  display: block;
  height: 70px;
}

.sign-in input[type=email], .sign-in input[type=password] {
  width: 700px;
  padding: 0 14px;
  font-size: 18px;
}

.sign-in input[type=email] {
  border: 1px solid rgb(0 0 0 / 0.1);
}

.sign-in input[type=password] {
  border: 1px solid rgb(0 0 0 / 0.1);
  border-top: none;
}


.sign-in input[type=submit] {
  margin: 25px 0 50px;
  width: 160px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

.sign-in p {
  font-size: 20px;
  padding-bottom: 30px;
  cursor: pointer;
}

/*------------------------------------------------------------*/
/*    footer                                                  */
/*------------------------------------------------------------*/

.footer-links {
  background-color: rgb(245 245 245);
  padding-bottom: 20px;
}

.footer-divisor {
  margin-bottom: 40px;
  height: 4px;
  background-color: #000;
}

.footer-email-input {
  padding: 10px 0;
  margin: 20px 0;
  background-color: rgb(245 245 245);
  border-bottom: 2px solid #000;
  width: 360px;
  font-size: 18px;
}

button {
  display: block;
  width: 160px;
  height: 48px;
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
}

.footer-join {
  margin-bottom: 20px;
}

footer h3 {
  font-size: 20px;
  font-weight: 700;
}

footer p {
  font-size: 18px;
}

.footer-links ul li {
  font-size: 18px;
  padding: 10px 0;
  cursor: pointer;
}

.footer-socials {
  padding: 20px 0;
  font-size: 25px;
  gap: 10px;
  cursor: pointer;
}

.footer-copyright {
  height: 60px;
  background-color: #000;
}

.footer-copyright ul li {
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}

.main-copyright {
  width: 28%;
  text-transform: uppercase;
  text-align: left;
}


/*------------------------------------------------------------*/
/*    cart                                                    */
/*------------------------------------------------------------*/

.cart {
  margin-top: 40px;
  margin-bottom: 60px;
}

.cart-list {
  width: 65%;
}

.cart h1 {
  font-size: 30px;
}

.cart h2 {
  font-size: 20px;
}

.cart table, .cart th, .cart td {
  border-collapse: collapse;
  border-bottom: 1px solid #000;
}

.cart th {
  padding: 8px 8px;
  text-align: left;
}

.cart td {
  vertical-align: top;
  padding: 12px 8px;
  text-align: left;
}

.cart-img {
  width: 16%;
}

.cart-title {
  padding-left: 12px;
  width: 50%;
}

.cart-amount {
  width: 20%;
}

.cart-price {
  width: 8%;
}

.cart-total {
  width: 8%;
}

.empty-cart {
  font-size: 20px;
  text-align: center;
}

.summary {
  width: 25%;
  padding: 20px;
  background-color: rgb(221, 221, 221);
  border-top: 2px dotted rgb(125, 125, 125);
  border-bottom: 2px dotted rgb(125, 125, 125);
}

.summary h2 {
  padding: 10px;
  border-bottom: 1px solid #000;
}

.summary p {
  font-size: 18px;
  margin-top: 4px;
}

.summary button {
  margin: 10px 0;
}

/*------------------------------------------------------------*/
/*    not found                                               */
/*------------------------------------------------------------*/

.not-found {
  width: 100%;
  height: 100svh;
}

.exlamation {
  font-size: 70px;
}

.not-found h2 {
  font-size: 52px;
}

.not-found button {
  margin-top: 20px;
}

.link-home {
  color: #fff;
  text-decoration: none;
}


/*------------------------------------------------------------*/
/*    items                                                   */
/*------------------------------------------------------------*/

.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0 100px 0;
}

.item {
  padding: 10px;
  text-align: left;
  width: 255px;
}

.item:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.item-img {
  margin-bottom: 20px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  

  img {
    object-fit: contain;
    height: 300px;
    width: 250px;
  }
}

.description {
  font-size: 18px;
  color: rgb(82, 82, 82);
  font-weight: 500;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

span {
  font-weight: 700;
  font-size: 18px;
}

select {
  margin-top: 4px;
  position: absolute;
  right: 30px;
  width: 115px;
  height: 35px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #000;
  background-color: #fff;
  padding: 5px;
}

.title {
  margin-top: 50px;
  height: 45px;
}